$color: red;
.section2 {
  background-color: $color;
  height: 100%;
  overflow-x: scroll;
  width: auto;
  white-space: nowrap;
  &__item {
    display: inline-block;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid;
    height: 100%;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
